*{
  margin: 0;
  padding: 0;
}

.regUser, .editUser, .regBook, .editBook{
  background-color: gray;
  box-sizing: border-box;
  width: 400px;
  margin: auto;
  padding: 10px;
}

input[type=text], input[type=date], input[type=number], input[type=submit], input[type=email], input[type=password], select{
  width: 100%;
}

input[type=submit]{
  padding: 10px;
  text-align: center;
}